@import "reset.css";

/* header */

.header_wrap {
  position:absolute;
  left:0;
  width:100%;
  top:0;
  height:5rem;
  z-index:100;
  min-width:100%; 
  border-bottom:1px solid rgba(138, 136, 136, 0.7);
}

header {
  display: flex;
  justify-content: space-between;
  margin-top:2rem;
  margin-left:6.25rem;
}

header .logo a {
  font-size:1.875rem;
  letter-spacing:0.125rem;
  width:12.5rem;
  display: block;
}

header nav ul {
  display: flex;
  margin-top:0.625rem;
  margin-left:12.5rem;
}

header nav ul li {
  margin-right:50px;
}

header nav ul li a {
  width:90px;
  text-align: center;
  font-size:18px;
  display: block;
  color: #000;
  letter-spacing:2px;
  font-weight:500;
}

header nav ul li a:hover {
  font-weight: bold;
}

.search a img {
  margin-top:5px;
  margin-right:100px;
}

/* article */

.visual {
  position: relative;
}

.visual > img {
  width: 100%;
  min-width:100%; 
}

.visual .text {
  position: absolute;
  left: 15%;
  top: 48%;
  font-size:28px;
  color: #000;
  letter-spacing:3px;
  line-height: 40px;
}

/* main */

/* product */

.product_title {
  text-align: center;
  margin-top:80px;
  font-size:25px;
}

.product {
  display: flex;
  justify-content: space-around;
  margin-top:80px;
}

.product li a p {
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
}

.product li a .img {
  display:block;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.product li a .img img {
  transition:.4s;
}

.product li a:hover .img img {
  transform: scale(1.1);
}

/* about */

.section2 {
  margin-top:120px;
  position: relative;
}

.about_wrap {
  display: flex;
}

.background-color {
  width: 500px;
  height: 600px;
  background:#ffeddd;
  margin-left:20px;
}

.about_img {
  position:absolute;
  top:50px;
  left:70px;
  cursor: pointer;
}

.about_title {
  margin-left: 150px;
  margin-top: 250px;
  cursor: pointer;
}

.about_title h3 {
  font-size:28px;
}

.about_title p {
  margin-top: 30px;
  line-height:25px;
  font-weight:500;
}

.section3 {
  margin-top: 160px;
  box-sizing: border-box;
  background: url(../images/more_img_black.jpg)no-repeat 50% 50% / cover;
  height:500px;
  position: relative;
  cursor: pointer;
}

.section3 h2 {
  font-size: 27px;
  text-align: center;
  padding-top: 250px;
  color: #fff;
  letter-spacing:0.125rem;
}

.section4 {
  margin-top: 120px;
}

.section4 h2 {
  font-size:28px;
  text-align: center;
  margin-bottom: 50px;
}

.review_wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.review_wrap li {
  position: relative;
}

.section4 .review_wrap li a .bg {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s;
}

.section4 .review_wrap li a:hover .bg {
  opacity: 5;
}

.section4 .review_wrap li a .bg::before,
.section4 .review_wrap li a .bg::after {
  content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    transition: .3s;
}

/* footer */

.footer_wrap {
  margin-top: 120px;
  background: #f4f4f2;
  width: 100%;
  height: 320px;
}

.footer_wrap h2 {
  font-size: 30px;
  padding-top:50px;
}

.footer_wrap ul {
  display: flex; 
  justify-content: space-between;
}

.footer_wrap ul li {
  margin-top: 20px;
}

.footer_wrap ul li p {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 400;
}

.icon li {
  margin-right:20px;
}
















/* 1280px까지 */
@media screen and (max-width:1280px){
  html {
      font-size: 15px;
  }

  header .logo {
    flex: 1;
  }
  
  
} 



@media screen and (max-width:480px){ 

  html {
    font-size: 13px;
  }
  header nav ul {
    display: none;
  }

}

